<ion-view title="Let's play">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/N6NACnLpQTGOT6GOuJk0_1583467_191d886988_b.jpg) no-repeat center;" scroll="false" class="has-header">
        <h1>Choose an Option:</h1>
        <div class="spacer" style="width: 300px; height: 74px;"></div>
        <a ui-sref="letSPlay9" id="letSPlay8-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block" ng-click='check()'>{{ rand.chancew }}% chance of winning {{ rand.amount }} points ({{rand.chancel}}% of losing)</a>
        <div class="spacer" style="width: 300px; height: 75px;"></div>
        <a ui-sref="letSPlay9" id="letSPlay8-button19" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block" ng-click='plus()'>Sure Bet! (+1)</a>
    </ion-content>
</ion-view>
