<ion-view title="Probability">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        <div>
            <p>Rules:</p>

            <p>The player will bet on a series of 10 gambles.</p>

            <p>The player must choose between either taking a surebet in which the player will gain 1 point, or, choose to take a risk, where there are many more points to play for.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 67px;"></div>
        <a ui-sref="letSPlay" id="probability-button2" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">Let's Play!</a>
    </ion-content>
</ion-view>
